numpy
scipy
requests
sounddevice
soundfile
python-dotenv
SpeechRecognition
websockets
Pillow
flask
groq
py-cord
torch
faster-whisper
av
webrtcvad-wheels
paddlespeech
paddlepaddle
paddlepaddle
paddleaudio
black
flake8
paddleocr
transformers
openai-whisper
webvtt-py
nest-asyncio
discord.py
TTS
opencv-python
pyautogui
keyboard
mouse
pygetwindow
psutil
pywin32
comtypes
pypiwin32

# Backend dependencies
fastapi
uvicorn[standard]
bcrypt
PyJWT
pydantic
python-multipart
google-generativeai
authlib
python-jose[cryptography]
starlette
